body, .navbar{
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  	color: #555555;
   	font-size: 13px;
	background-color: #eeeded;
}

/* ------------------------------- Style of the head of the page -----------------------------------------*/
#logo { margin-left: 0 !important;}
.navbar {
    background: transparent;
    border: none;
}
.navbar .nav > li:first-child, .navbar .nav > li {
    border: none;
}
.navbar .nav > li > a {
	font-size: 16px;
	height: 41px;
	min-width: 41px;
	width: 41px;
	padding: 0;
	overflow: hidden;
	position: relative;
	line-height: 41px;
	background-color: #fff;
	color: #999;
	border-color: #999;
	box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12);
	border-radius: 50%;
	text-shadow: none;
	text-align: center;
	margin: 10px;
}

.navbar .nav > li > a:hover {
	color : #000;
}
.navbar .nav > li:active, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .toggle-sidebar:active {
    background: #CB0001;
    color : #fff;
    border-radius: 50%;
}
.dropdown-menu.extended li p {
    background-color: #000;
    color: #fff;

}

/* ------------------------------- Style of the content of the page -----------------------------------------*/
#content {
    background: transparent;
}
#content .container {
    padding: 0 15px;
}
.crumbs {
    margin: 0 -20px;
    height: 40px;
    background: transparent;
    border-bottom: none;
}
.crumbs .breadcrumb {
    background-color: transparent;
}
.crumbs .crumb-buttons > li > a {
    background: #000;
    color: #fff;
    width: 135px;
}
.crumbs .crumb-buttons > li.open > a, .crumbs .crumb-buttons > li > a:hover {
    background: #CB0001;
}
#left-menu{
	background: url('../img/login-bg.png');
  	background-color: #000;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color : #FFF;
  	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
#left-menu #sidebar {
	background : transparent;
    position: relative !important;
    top: unset;
    left: unset;
    right: unset;
    botto;: unset;
    width: 100%;
    height: 100%;
    border: 0;
}
#left-menu #sidebar ul#nav li {
    border-bottom: none;
}
#left-menu #sidebar ul#nav > li.current, #left-menu #sidebar ul#nav > .open {
    background: #CB0001;
}
#left-menu #sidebar ul#nav li a {
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    color: #fff;
    text-shadow: none;
    border-radius: 3px;
    font-weight: 400;
}
#left-menu #sidebar ul#nav li a i {
    color: #ccc;
}
#left-menu #sidebar ul#nav li a:hover {
    background: rgba(255, 255, 255, 0.35);
}
#left-menu #sidebar ul#nav ul.sub-menu {
    background: #000;
    border-bottom: none;
}
#left-menu #sidebar ul#nav ul.sub-menu li.current {
    background: transparent;
}
#left-menu #sidebar ul#nav ul.sub-menu li.current a{
    color: #CB0001;
    font-weight: bold;
}
